 .contenedor{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  background-color: aqua;
}
/* flex-wrap */


.items{
    padding :20px;
    background-color: blue;
    color: aliceblue;
    text-align: center;
    border:1px solid rgb(9, 19, 51)
}