body {
    font-family: 'Montserrat'; /* Usamos la fuente importada */
    margin: 0; /* Quitamos márgenes predeterminados */
    padding: 0; /* Quitamos padding predeterminado */
}

a{
    text-decoration: none;
}

nav{
    background-color:black;
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.nav_inicio {
    display: flex; /* Usamos flexbox */
    align-items: center; /* Centramos verticalmente */
}

.Titulo {
    color: white;
    font-size: 30px;
}

.Logo {
    max-width: 80px; /* Tamaño máximo del logo */
    margin-right: 10px; /* Espacio entre el logo y el título */
}

.iconos a {
    margin: 20px;
}
.carousel {
    margin-top: 0px; /* Espacio superior antes del carrusel */
}

.carousel-item img {
    height: 500px; /* Altura fija de las imágenes */
    object-fit: cover; /* Las imágenes cubren todo el espacio disponible */
}

.navbar-secciones {
    display: flex;
    justify-content: center;
    list-style-type: none
}

.nav-item {
    padding: 10px;
    color: white;
}

.main_subtitulo {
    text-align: center;
    margin-top: 40px;
    text-decoration: underline;
}

.main_subtitulo_marca {
    text-align: center;
    margin-top: 40px;
}

.main_cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}
.card {
    text-align: center;
    margin: 10px;
}

main form h5 {
    font-size: 24px; /* Tamaño del título del formulario */
}

main input, main textarea {
    width: 100%; /* Campos ocupan todo el ancho disponible */
    padding: 10px; /* Espacio interno en los campos */
    margin-bottom: 10px; /* Espacio inferior entre los campos */
    border: 1px solid #ced4da; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
}

main button {
    padding: 10px 20px; /* Espacio interno del botón */
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Color del texto en blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

main button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el mouse*/
}

.grid-container-principal{
    display: grid;
    grid-template-columns: repeat(2, 2fr); /* tres columnas con fracciones diferentes */
    gap : 10px;
    margin-top: 20px;
 
}
.grid-container-der {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}


footer {
    padding: 20px; /* Espacio interno */
    background-color: #000000; /* Color de fondo claro */
    text-align: center; /* Centramos el contenido */
    margin-top: 40px; /* Espacio superior antes del pie de página */
}

/* Estilos para las imágenes de redes sociales */
footer .RSocial {
    width: 40px; /* Ancho de los iconos */
    margin: 5px; /* Espacio alrededor de cada icono */
}

/* Media Queries para pantallas medianas (tablets) */
@media (max-width: 768px) {
    /* Ajustamos el tamaño del logo */
    .Logo {
        max-width: 60px;
    }
    .Titulo{
        font-size: 25px;
    }
    .navbar-secciones{
        font-size: 15px;
    }
    /* Las tarjetas se apilan verticalmente */
    .main_cards {
        flex-direction: column;
        align-items: center;
    }
    /* Ajustamos el ancho de las tarjetas */
    .card {
        width: 80%; /* Las tarjetas ocupan el 80% del ancho */
    }
    /* Ajustamos la altura de las imágenes del carrusel */
    .carousel-item img {
        height: 300px;
    }
}

/* Media Queries para pantallas pequeñas (celulares) */
@media (max-width: 480px) {
    /* Ajustamos el tamaño del logo */
    .Logo {
        max-width: 70px;
    }
    /* Ajustamos el ancho de las tarjetas */
    .card {
        width: 90%; /* Las tarjetas ocupan el 90% del ancho */
    }
    .Titulo {
        display: none;
    }

    .navbar-secciones{
        font-size: 10px;
    }
    /* Ajustamos la altura de las imágenes del carrusel */
    .carousel-item img {
        height: 200px;
    }
    /* Ajustamos el tamaño del título */
    .Titulo {
        font-size: 20px;
    }
    /* Ajustamos los títulos en el pie de página */
    footer form h1, footer h1 {
        font-size: 20px;
    }
    /* Ajustamos el tamaño del enlace en el pie de página */
    footer a {
        font-size: 16px;
    }

    main .grid-container-principal h5 {
        font-size: 20px; /* Tamaño del título del formulario */
    }
    main input, main textarea {
        width: 90%; /* Campos ocupan todo el ancho disponible */
        padding: 10px; /* Espacio interno en los campos */
        margin-bottom: 10px; /* Espacio inferior entre los campos */
        border: 1px solid #ced4da; /* Borde gris claro */
        border-radius: 5px; /* Bordes redondeados */
    }
    
    main button {
        padding: 5px 10px; /* Espacio interno del botón */
        background-color: #007bff; /* Color de fondo azul */
        color: white; /* Color del texto en blanco */
        border: none; /* Sin borde */
        border-radius: 5px; /* Bordes redondeados */
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    }
    
    main button:hover {
        background-color: #0056b3; /* Color más oscuro al pasar el mouse*/
    }
    
    main .grid-container-principal h6 {
        font-size: 15px;
    }

    .grid-container-principal{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        gap : 10px;
        margin-top: 20px;
     
    }
}